
html {
    scroll-behavior: smooth;
  }  
body{
    height: 2000px;
}
.create-dialog {
    display: none;
    justify-content: center;
    width:500px;
    height: 180px;
    margin:0 auto;
    font-family:'Ubuntu',sans-serif
    }
#visualizeForm{
    position: fixed;
}
.show{
    display: block;
    }
.form-sample{
    display: block;
    text-align:center;
    border:1px solid #ccc;
    width:300px;
    padding:0 50px 15px;
    margin:0 auto;
    box-shadow:0 0 15px;
    border-radius:6px;
    }
div#buttons{
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
}
li{
    background: #f7f7f7;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
}
.textAreas{
    width: 400px;
    height: 40px;
}
.is-important{
    background-color: red;
    opacity: 90%;
}
.validation-input-label{
    color: red;
    border-color: red;
}
.up-button {
    position: fixed;
    z-index: 1;
    padding: 0;
    bottom: 75px;
    right: 20px;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid;
    border-radius: 50%;
    display: none;
    cursor: pointer;
  }
.shown{
    display: inline-block;
}